@function unique($list) 
{
    $length: length($list);

    $result: ();

    @for $i from 1 through $length {
        $item: nth($list, $i);

        @if index($result, $item) == null {
            $result: append($result, $item);
        }
    }
    
    @return $result;
}