$__semantic: false !default;
$__dot: if($__semantic, "%", ".");

$__ns: "dpl-" !default;
$__ctxPrefix: \@ !default;

$__e: "-" !default;
$__m: "--" !default;

$__fontSize: 16px !default;

$__base: $__fontSize !default;
$__ratio: 1.5 !default;

$__fractions: 2 3 4 5 !default;
$__steps: 7 !default;

$__breakpoints: (
    "xxs": 320px,
     "xs": 480px,
      "s": 768px,
      "m": 992px,
      "l": 1200px
) !default;

$__tweakpoints: () !default;