* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote,
q {
    quotes: none;

    &::before,
    &::after {
        content: '';
        content: none;
    }
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}