@mixin generate-offset-base() {
    @include onlyOnce("@generate-offset-base:10") {    
        #{dot()}push {
            float: right !important;
        }

        #{dot()}pull {
            float: left !important;
        }

        [class*="push-"],
        [class*="pull-"] {
            position: relative !important;
        }
    }
}
