@mixin generate-wrap(
    $ctx: null
) {

    @each $context, $size in $__breakpoints {

        $selector: "#{dot()}wrap#{$__m}#{$context}#{$ctx}";

        #{$selector} {
            max-width: $size !important;
        }
    }
}