@mixin generate-wrap-responsive() {
    @each $ctx in map-keys($__breakpoints) {

        @include mq($from: $ctx) {
            @include generate-wrap(
                $ctx: #{ctx($ctx)}
            );
        }
    }    
}