@mixin generate-offset(
    $ctx: null
) {
    
    @each $direction in "left" "right" {
        @each $cols in $__fractions {
            @for $i from 1 to $cols {

                #{dot()}push-#{$i}-#{$cols}#{$ctx} {
                    #{$direction}: percentage($i / $cols) !important;
                }

                #{dot()}pull-#{$i}-#{$cols}#{$ctx} {
                    #{$direction}: percentage(($i / $cols) * -1) !important;
                }
            }
        }
    }
}
