@mixin generate-wrap-base() {
    @include onlyOnce("@generate-wrap-base:10") {
        #{dot()}wrap {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}