@mixin generate-size(
    $fractions: $__fractions,
    $ctx: null
) {

    @each $cols in $__fractions {
        @for $i from 1 to $cols {

            $selector: "#{dot()}size-#{$i}-#{$cols}#{$ctx}";

            #{$selector} {
                width: percentage($i / $cols) !important;
            }
        }
    }
}